  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:white;
    margin: 0;
  }

  .btn {
    position: relative;
    width: 400px;
    height: 170px;
    border-radius: 12px;      
    overflow: hidden;        
    border: none;
    cursor: pointer;
    opacity: 0.9px;
    background: linear-gradient(45deg, #000000);
    font-family: sans-serif;
    font-size: 52px;
    font-weight: bold;
    color: #fff;
  }

  .btn span {
    position: relative;
    z-index: 2;
  }

  .btn::before
  {
    content: "";
    position: absolute;
    left: 50%;
    top: 25px;
    width: 400px;   
    height: 400px;
    background:rgb(25, 121, 185);
    border-radius: 40%;             
    animation: float 6s linear infinite;
    z-index: 1;
    box-shadow: 0 0 20px black;
  }
  .btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    width: 500px;   
    height: 400px;
    background: rgba(0, 0, 255, 0.523);
    border-radius: 40%;       
    box-shadow: 0 0 20px black;
    animation: float 6s linear infinite;
    z-index: 1;
  }
   .btn:hover::after,
    .btn:hover::before {
    background-color: black;
    transition: 10s;
    top: -170px;
  }


  @keyframes float {
    from {
         transform: translate(-50%, -75%) rotate(0deg); 
        }
    to   {
         transform: translate(-50%, -75%) rotate(360deg); 
        }
  }
